

.cart-dropdown-container {
    position: absolute;
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #A48F78;
    top: 70px;
    right: 0px;
    z-index: 5;
  
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: auto;
      border-radius: 16px;
      border: none;
      min-height: 3rem;
      background-color: white;
      color: #A48F78;
    }
  }