.entire-box{
    display: flex;
    flex-direction: column;
  }
  
  .box{
    display: flex;
    flex-direction: row;
    cursor: grab;
    overflow: hidden;
  }
  
  .item-two{
    height: 26rem;
    min-width: 100rem;
    padding-bottom: 50px;
    display: flex;
  }
  
  .product-card-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
    padding: 10px;
  
    @media (max-width: 850px){
      padding: 20px;
     }
  
    img {
      width: 100%;
      height: 95%;
      object-fit: cover;
      pointer-events: none;
  
      @media (max-width: 850px){
        min-width: 100%;
       }
    }
  
    button {
      width: 22%;
      opacity: 0.7;
      background-color: #A48F78;
      color: white;
      border-radius: 16px;
      border: none;
      position: absolute;
      top: 240px;
      display: none;
      padding: .50rem;
      left: 175px;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-size: 17px;
    }
  
    &:hover {
  
      button {
        opacity: 0.85;
        display: flex;
      }
    }
  
    .footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
        color: black;
      }
  
      .price {
        width: 10%;
        color: black;
      }
    }
  }
  
  .title{
    color: #A48F78;
    padding: 30px;
    font-size: 3rem;
    font-family: 'Taviraj', serif;
  }
