.entire-box {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
    cursor: grab;
    overflow: hidden;
}

.item-two {
    height: 26rem;
    min-width: 100rem;
    padding-bottom: 50px;
    display: flex;
}

