.order{
    // background-image: url("https://images.unsplash.com/photo-1570569977384-be17f90f1a10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80");
    background-color: #FFFFFF;
     background-size: cover;
     padding: 20px 40px;
   
     @media (max-width: 500px){
       padding: 10px;
   }
   
   @media (max-width: 900px){
     padding: 5px;
   }
   
   
   }
   .checkout-container {
     width: 55%;
     min-height: 90vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 6px auto 0;
     background: #A48F78;
     border-radius: 16px;
     padding: 3rem;
     color: white;
   
     @media (max-width: 500px){
      width: 100%;
      background: rgba(16, 16, 16, 0.26);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(255, 255, 255, 0.18);
     color: white;
   
     @media (max-width: 500px){
       width: 100%;
   }
   }
   
   
     .checkout-header {
       width: 100%;
       padding: 10px 0;
       display: flex;
       justify-content: space-between;
       border-bottom: 1px solid darkgrey;
   
       .header-block {
         text-transform: capitalize;
         width: 23%;
   
         @media (max-width: 500px){
           display: none;
       }
   
         &:last-child {
           width: 8%;
         }
       }
     }
   
     .total {
       margin-top: 30px;
       margin-left: auto;
       font-size: 36px;
     }
   }