.about-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #A48F78;
    height: 95vh;
    font-family: 'Poppins', sans-serif;
}

.text-container{
    padding-left: 5rem;
}

.top-heading{
    padding-top: 3rem;
    color: white;
    font-family: 'Taviraj', serif;
}

.couple{
    width: 30vw;
    height: 60vh;
    padding-top: 2rem;
}

.story{
    width: 40vw;
    padding-top: 2rem;
    color: white;
}